@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Zilla+Slab+Highlight&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Zilla Slab Highlight', cursive; */


body {
    font-family: 'Open Sans', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    justify-content: space-evenly;
    row-gap: 1em;
    
}

.items-wrapper {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    column-gap: 1em;
}

.product-card {
    margin: 1em auto;
    font-size: small;
    /* max-width: 200px; */
}

/* Filters Styling */


.filters-wrapper > div {
    position: fixed;
    position: sticky;
    line-height: 25px;
    color: #181818;
    padding: 1rem;
    left: 2rem;
    top: 50px;
    border-right: 2px solid;
}










